*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: lightslategray;
}
.talk{
background-color: lightcoral;
padding: 20px 40px;
font-size: 30px;
color: #fff;
border: none;
outline: none;
cursor: pointer;
}
